{% extends 'base.html' %}
{% block mainpart %}
<h1> Удаление тура </h1>
{% include 'sitetour/includes/employee_sidebar.html' %}

<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>

    <p><label class="form-label" for="{{ form.tour.id_for_label }}">{{ form.tour.label }}</label>{{ form.tour }}</p>
    <div>
        {{ form.tour.errors }}
    </div>

    <p><button type="submit" onclick="return confirm('Вы уверены, что хотите удалить тур?');">Удалить</button></p>
</form>
{% endblock %}