{% extends 'base.html' %}
{% block mainpart %}
    <section class="hero">
        <div class="hero-content">
            <h1>Экскурсии по Крыму</h1>
            <p>WASABI TOUR – ваше окно в удивительный мир Крыма! Мы предлагаем захватывающие туры,
                которые помогут вам раскрыть неповторимую красоту полуострова.
                От величественных гор и живописных побережий до древних городов и уникальной культуры –
                каждый тур с нами превращается в яркое приключение. WASABI TOUR – это команда опытных гидов,
                продуманные маршруты и забота о каждом путешественнике.
                Позвольте себе открыть Крым с новой стороны вместе с нами!</p>
            <p>С туроператором "WASABI TOUR"<br>Мы работаем с 9:00 до 20:00</p>

        </div>
    </section>
{% endblock %}