{% extends 'base.html' %}
{% block mainpart %}
<div class="container">
    <h1>Смена пароля</h1>
    <form action="" method="post">
        {% csrf_token %}
        <!-- Общие ошибки формы -->
        {% if form.non_field_errors %}
        <div class="form-error-box">
            <i class='bx bx-error-circle'></i>
            <ul>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Поля формы -->
        {% for field in form %}
        <div class="input-box">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <!-- Ошибки конкретного поля -->
            {% if field.errors %}
            <div class="field-errors">
                <i class='bx bx-error'></i>
                <ul>
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <!-- Кнопка отправки -->
        <button type="submit" class="btn">Отправить</button>
    </form>
</div>
{% endblock %}